In [1]:
print ("********************************************")
print ("Data Inputan")
nis    = int(input("NIS     :"))
nama   = str(input("Nama    :"))
jk     = str(input("JK      :"))
rombel = (input("Rombel     :"))
rayon  = (input("Rayon      :"))
indo      = int(input("Nilai Bahasa Indonesia  :"))
mtk       = int(input("Nilai Matematika        :"))
inggris   = int(input("Nilai Bahasa Inggris    :"))
print ("********************************************")
print ("Laporan Nilai Akhir Semester")
print ("Smk Wikrama Bogor")
print ("-------Data Diri-------")
print ("NIS      : ", nis)
print ("Nama     : ", nama)
print ("JK       : ", jk)
print ("Rombel   : ", rombel)
print ("Rayon    : ", rayon)
print ("-------Nilai-------")
print ("Nilai Bahasa Indonesia  :", indo)
print ("Nilai Matematika        :", mtk)
print ("Nilai Bahasa Inggris    :", inggris)
rata2=(indo+mtk+inggris)/3
print("Rata-rata Nilai          :", rata2)
if rata2 >= 75:
    a = "Lulus"
else:
    a = "Tidak Lulus"
print ("Kriteria Kelulusan      :", a)

********************************************
Data Inputan
NIS     :1180
Nama    :qwe
JK      :wq
Rombel     :21
Rayon      :sd
Nilai Bahasa Indonesia  :12
Nilai Matematika        :32
Nilai Bahasa Inggris    :12
********************************************
Laporan Nilai Akhir Semester
Smk Wikrama Bogor
-------Data Diri-------
NIS      :  1180
Nama     :  qwe
JK       :  wq
Rombel   :  21
Rayon    :  sd
-------Nilai-------
Nilai Bahasa Indonesia  : 12
Nilai Matematika        : 32
Nilai Bahasa Inggris    : 12
Rata-rata Nilai          : 18.666666666666668
Kriteria Kelulusan      : Tidak Lulus